<div class="container-pecas">
  <ion-button expand="full" (click)="AbrirCarrinho()"> 
    Ir ao carrinho <ion-icon name="cart"></ion-icon>
  </ion-button>
  <ng-container *ngIf="pecas.length == 0; else elseTemplate">
    <ion-spinner name="bubbles"></ion-spinner>
  </ng-container>
  <ng-template #elseTemplate>
    <app-peca-item *ngFor="let item of pecas" 
    [peca]="item" (addToCart)="AdicionarAoCarrinho(item)" ></app-peca-item>
  </ng-template>
  <ion-button (click)="ShowCart()" > Mostra Carrinho </ion-button>
</div>