<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <ion-segment [(ngModel)]="view">
        <ion-segment-button value="agendar" checked>
          <ion-label> Manutenção </ion-label>
        </ion-segment-button>
        <ion-segment-button value="pecas">
          <ion-label> Peças </ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <span [ngSwitch]="view">
    <p *ngSwitchCase="'agendar'">
      <app-agendar (manutencao)="FazerManutencao($event)" ></app-agendar>
    </p>
    <p *ngSwitchCase="'pecas'">
      comprar peças
    </p>
    <p *ngSwitchDefault>
      default 
    </p>
    </span>
  </div>
</ion-content>
