<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Manutenção
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="agendar" checked>
          <ion-label> Agendar </ion-label>
        </ion-segment-button>
        <ion-segment-button value="pecas">
          <ion-label> Peças </ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-button expand="full" (click)="Open()"> Press me </ion-button>

  </div>
</ion-content>
