<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Carrinho </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="preco_total">
    R$ {{ preco_total }}
  </div>
  <div class="list-cart-item">
    <app-cart-item *ngFor="let item of listCart"
     [cart_item]="item"
     (delete)="DeletarItem(item)"
     (decrease)="DecreaseItem(item)" ></app-cart-item>
  </div>

  <ion-button expand="block"
  (click)="EnviarPedido()"> Enviar Pedido! </ion-button>

</ion-content>
