<ion-card>
  <ion-card-content>
    <div class="container">
      <div class="nome">
        {{ item.nome }}
      </div>
      <div class="quant">
        {{ item.quant }}
      </div>
      <div class="preco-peca">
        R$ {{ item.quant * item.preco }}
      </div>
      <div class="acoes">
        <ion-button (click)="DecreaseItem()" >
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button (click)="RemoveItem()" >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>